
@{
    ViewData["Title"] = "Error403";
}

<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-12">
            <div class="error-template">
                <h1>
                    Oops!
                </h1>
                <h2>
                    403 Forbidden
                </h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                    <a href="/Home/Privacy" class="btn btn-primary">
                        <span class="glyphicon glyphicon-home"></span>
                        Take Me Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

