<!-- Modal -->
<div class="modal fade" id="LinkModal" tabindex="-1" role="dialog" aria-labelledby="LinkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<div class="form-group row">
                    <label for="login" class="col-form-label col-2">Логин</label>
                    <div class="col-10">
                        <input id="login" class="form-control form-control-sm" />
                    </div>
                </div>*@
                <div class="form-group row">
                    <label for="link" class="col-form-label col-2">Ссылка</label>
                    <div class="col-10">
                        <input id="link" class="form-control form-control-sm" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
