@model CategoryViewModel
@{
    ViewData["Title"] = $"Модели - категория {Model.Name}";
}
<form asp-action="AddModelsCtgr" data-ajax-method="post" data-ajax="true" data-ajax-failure="createError" data-ajax-success="createSuccess" data-ajax-update="result" id="create-form">
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-auto mr-auto">
            <h4>@ViewData["Title"]</h4>
        </div>
        <div class="col-auto">
            <a asp-action="Index" asp-controller="Category" class="btn btn-sm btn-primary mr-1" type="button"><i class="fas fa-arrow-circle-left"></i> Назад</a>
            <button class="btn btn-sm btn-success" type="submit"><i class="fas fa-chevron-circle-down"></i> Сохранить</button>
        </div>
    </div>

    <div class="p-4 mt-3 bg-white rounded shadow">
        <div class="col-12 table-responsive">
            <table class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>
                        <th>№</th>
                        <th>Артикул</th>
                        <th>Наименование</th>
                        <th>Цвет</th>
                        <th>Размер</th>
                        <th>Каталог</th>
                        <th>Категория</th>
                        <th>Действия</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/CModel/IndexByCategory.js" asp-append-version="true" type="text/javascript"></script>
}
