@{
    ViewData["Title"] = "Контент статичных страниц";
}

<div class="col-auto">
    <a asp-action="Create">Новая запись</a>
</div>
<hr />
<div class="col-12 table-responsive">
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>№</th>
                <th>Заглавие</th>
                <th>Алиас</th>
                <th>Макет</th>
                <th>Мета заглавие</th>
                <th>Мета описание</th>
                <th>Мета слова</th>
                <th>Действия</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/MBody/Index.js" asp-append-version="true" type="text/javascript"></script>
}