@model UrlAccessViewModel
@{
    ViewData["Title"] = "Доступ по URL - Новая запись";
}

<div class="row d-flex justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <div class="text-center">
                    <a asp-action="Index">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Назад к списку
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="URL" class="control-label"></label>
                                <input asp-for="URL" class="form-control" />
                                <span asp-validation-for="URL" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Acl" class="control-label"></label>
                                <select asp-for="Acl" class="form-control" asp-items="ViewBag.AccessControls"></select>
                                <span asp-validation-for="Acl" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AccessGroupsJson" class="control-label"></label>
                                <select asp-for="AccessGroupsJson" class="form-control" asp-items="ViewBag.AccessGroups"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="DeniedGroupsJson" class="control-label"></label>
                                <select asp-for="DeniedGroupsJson" class="form-control" asp-items="ViewBag.DeniedGroups"></select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block shadow">Подтвердить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
