
<div class="table-responsive">
    <table id="catalog-table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>№</th>
                <th>Наименование</th>
                <th>ЧПУ</th>
                <th>Форма заказа</th>
                <th>Видимость</th>
                <th>Действия</th>
            </tr>
        </thead>
    </table>
</div>