
<partial name="_SearchCModelPartial" />

<div class="table-responsive">
    <table id="nom-table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>№</th>
                <th>Фото</th>
                <th>Артикул</th>
                <th>Наименование</th>
                <th>Цвет</th>
                <th>Размер</th>
                <th>Каталог</th>
                <th>Категория</th>
                <th>Видимость</th>
                <th>Действия</th>
            </tr>
        </thead>
    </table>
</div>