
<partial name="_SearchUserPartial" />

<div class="table-responsive">
    <table id="user-table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>№</th>
                <th>Логин</th>
                <th>ФИО клиента</th>
                <th>Город</th>
                <th>Телефон</th>
                <th>Название ТЦ</th>
                <th>Почта</th>
                <th>Статус</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
        </thead>
    </table>
</div>